.wave {
    position: relative;
    overflow: hidden;
    height: 150px; /* Hauteur de la vague */
}

.wave:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, transparent 20%, rgba(255, 255, 255, 0.5) 50%, transparent 80%);
    animation: wave-animation 2s infinite linear;
}

@keyframes wave-animation {
    0% {
        transform: translateX(0) translateY(15px); /* Ajustez le décalage vertical selon votre besoin */
    }
    50% {
        transform: translateX(50%) translateY(-15px); /* Ajustez le décalage vertical selon votre besoin */
    }
    100% {
        transform: translateX(100%) translateY(15px); /* Ajustez le décalage vertical selon votre besoin */
    }
}

.quoted-text::before {
    content: '«';
  }
  
  .quoted-text::after {
    content: '»';
  }
  
